
# Virtual environments
headless_venv/
headless-player/headless_venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib
*.exe
*.bin
*.o
*.a
*.lib
*.zip

# Distribution / packaging
*.egg-info/
dist/
build/

# Local env files
.env
.venv/

*.pyc
__pycache__/
.pytest_cache/

bundle*
GUI/services/__pycache__/*
