
# Virtual environments
headless_venv/
headless-player/headless_venv/
GUI/venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib
*.exe
*.bin
*.o
*.a
*.lib
*.zip
!OFF-player/bin/
!OFF-player/bin/**

# Distribution / packaging
*.egg-info/
dist/
build/

# Local env files
.env
.venv/

*.pyc
__pycache__/
.pytest_cache/

bundle*GUI/core/__pycache__/*.pyc
GUI/core/__pycache__/*.pyc
GUI/ui/__pycache__/*.pyc
bundle*GUI/ui/__pycache__/*.pyc
*bundle*


.DS_Store

tools/media/*
OFF-ROOT/*
headless-player/config.json
GUI/settings.json
OFF-player/bin/OFF-player_debug.app/*
OFF-player/bin/OFF-player_debug.exe

headless-player/config.json
GUI/settings.json
release/*.log

*.o
*.d
*.pyc

bundle*
GUI/services/__pycache__/*
OFF-player/obj/msys2/Debug/src/HttpControlServer.d
headless-player/releases/latest.*
wheelhouse/*.whl
_test_install/*
GUI/settings.json
OFF-player/obj/msys2/Release/src/ofApp.d
OFF-player/bin/data/config.json
OFF-player/bin/config.json
# Ignore all config.json files anywhere in the repo
config.json
GUI/TigerVNC viewer 1.15.0.app/*
OFF-player/bin/data/media/nero.png
headless-player/C:/Users/ricca/Desktop/media/*
headless-player/.idle/
headless-player/build_debug/
installer/assets/SetResolution/*
tools/windows/SetResolution/obj/Release/*
tools/windows/SetResolution/obj/
tools/windows/SetResolution/bin/
tools/windows/SetResolution/**/obj/
tools/windows/SetResolution/**/bin/
installer/dist/
headless-player/releases/
tools/windows/SetResolution/.vs/
installer/logs/*
